form {
    width: 80%;
    margin: 0% 10%;
    text-align: center;
}
input[type="text"] {
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
}
label {
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #444;
    font-size: 18px;
}
button {
    border: 1px solid transparent;
    background-color: #1524b9;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}
.contentArea {
    position: relative;
    direction: ltr;
    /*column direction ltr or rtl - modify to suit*/
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    padding: 10px;
    text-align: center;
    column-rule: 1px solid gray;
        font:  18px Arial;
}
.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
    height: 400px;
    margin: 0 10%;
}
@media (max-width: 768px)
{
    button
    {
        margin: 3%  0 !important;
    }
    input[type="text"] {
     width: 100%;
    }
}
